$gray-300: #dee2e6;
$grid-gutter-width: 30px;

.yo-hours-collapse {
	margin-top: 1rem;
	max-height: 800px;
}

.yo-hours-calendar {
	font-size: 12px;

	.fc-header-toolbar {
		display: none;
	}
}

.yo-hours-daterange-modal {
	.tab-content {
		> .tab-pane {
			border: {
				bottom: 1px solid $gray-300;
				left: 1px solid $gray-300;
				right: 1px solid $gray-300;
			}
			padding: ($grid-gutter-width / 3) ($grid-gutter-width / 2);
		}
	}
}

.month-dropdown {
	width: 33.3333333333%;
}